.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: fit-content;
    transform: translate(-50%, -50%);
}

.modal-content .input-container textarea::placeholder {
    /*text-indent: 10px; !* Adjust the value as needed *!*/
    text-align: left;
    padding: 5px;
}

.modal-content .input-container textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 0;
    height: 300px;
    outline: none;
    background: #efefef;
    border-radius: 15px;
    font-size: 17px;
    resize: none;
}

/*.modal-content .input-container textarea:focus {*/
/*    height: 150px; !* Adjust the expanded height as needed *!*/
/*    transition: height 0.3s; !* Add a smooth transition effect *!*/
/*}*/

/* Styling for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.modal-content .post-buttons{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 10px;
    margin: 5px auto;
}

.modal-content .post-buttons .post_icon{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 7px 40px;
    cursor: pointer;
}

.modal-content .post-buttons button{
    color: #0056d6;
    font-size: 16px;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.modal-content .post-buttons button:hover{
    background: #0056d6;
    border-radius: 8px;
    color: #efefef;
    transition: background 0.3s;
}

.modal-content .post-buttons .send-post i{
    color: #0056d6;
}

.modal-content .post-buttons .send-post:hover i{
    color: #efefef;
}

.modal-content .post-buttons .cancel-post:hover{
    background: red;
    border-radius: 8px;
    transition: background 0.3s;
}

.modal-content .post-buttons .cancel-post i{
    color: red;
}

.modal-content .post-buttons .cancel-post:hover i{
    color: #efefef;
}

.modal-content .post-buttons .cancel-post:hover p{
    color: #efefef;
}